<mat-card>
  <form >
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput required [ngModel]="user.name" #name ="ngModel" name="name"/>
      <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput [ngModel]="user.email" #email="ngModel" required type="email" email name= "email"/>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput [ngModel]="user.password" #password="ngModel" required type="password" name="password"/>
      <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  <button mat-raised-button color="primary">Registrarme</button>

  </form>
</mat-card>
